.about{
  min-height:100vh;
  background:#0b1220;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:120px 8%;
}

/* MAIN GRID */

.about-wrapper{
  width:1400px;
  max-width:100%;

  display:grid;
  grid-template-columns: 1.1fr 1fr;
  gap:80px;
  align-items:center;
}

/* LEFT SIDE */

.about-left h1{
  font-size:64px;
  color:white;
  margin-bottom:20px;
}

.about-left p{
  color:#cbd5e1;
  font-size:18px;
  line-height:1.8;
  max-width:520px;
}

/* RIGHT SIDE */

.about-right{
  display:flex;
  flex-direction:column;
  gap:40px;
}

/* GLASS BOX */

.skills-box,
.exp-box{
  padding:35px;
  border-radius:18px;
  background:rgba(255,255,255,.05);
  backdrop-filter:blur(12px);
  border:1px solid rgba(255,255,255,.08);
}

/* TITLES */

.skills-box h2,
.exp-box h2{
  color:white;
  margin-bottom:25px;
}

/* SKILLS GRID */

.skill-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:18px;
}

.skill-card{
  padding:16px;
  border-radius:10px;
  background:rgba(255,255,255,.06);
  color:white;
  transition:.3s;
}

.skill-card:hover{
  background:#6366f1;
}

/* EXPERIENCE */

.exp-card{
  margin-top:15px;
}

.exp-card h3{
  color:white;
}

.exp-card p{
  color:#94a3b8;
}
