.contact {
  min-height: 100vh;
  background: #0b1220;
  padding: 120px 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* WIDTH CONTROL */

.contact-wrapper {
  width: 1400px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}

/* LEFT */

.contact-left h1 {
  font-size: 58px;
  color: white;
  margin-bottom: 20px;
}

.contact-left p {
  color: #94a3b8;
  font-size: 18px;
  line-height: 1.8;
  max-width: 450px;
}

/* FORM */

.contact-form {
  padding: 45px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.08);

  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* INPUT */

.contact-form input,
.contact-form textarea {
  padding: 14px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: transparent;
  color: white;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #64748b;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1px solid #6366f1;
}

/* BUTTON */

.contact-form button {
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #4f46e5;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.contact-form button:hover {
  background: #6366f1;
}