.navbar {
  height: 75px;
  width: 100%; /* FULL WIDTH */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  background: #0b1220;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-sizing: border-box; /* Prevents overflow */
}

.logo {
  margin-left: -55px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: #60a5fa;
}

.navLinks {
  display: flex;
  gap: 40px;
}

.navLinks a {
  font-size: 16px;
  font-weight: 500;
  color: #cbd5e1;
  position: relative;
  transition: 0.3s;
}
.navLinks a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #60a5fa;
  transition: 0.3s;
}

.navLinks a:hover::after {
  width: 100%;
}
