* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family:
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    sans-serif;

  background:
    radial-gradient(circle at top left, #1e293b, #0f172a 40%),
    radial-gradient(circle at bottom right, #0f172a, #020617 70%);

  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}